
body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #f7f3f3;
  }

  body{
    background-image: url('/static/k8s.jpg');
    /* background-image:  url('/static/bg.jpg'); */
    background-size: 1800px 1000px;
    background-repeat: no-repeat;
    /* background-position: right; */
    
  }

  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    /* margin-left: 80px; */
    margin-right: 80px;
  }
  
